<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="./dfs.html"> DFS </a>
    <br>
    <a href="./bfs.html"> BFS </a>
    <br>
    <a href="./dijkstra.html"> Dijkstra </a>
    <br>
    <a href="./cycle_detection.html"> Cycle detection with DFS</a>
    <br>
    <a href="./union_find.html"> Cycle detection  UNION FIND</a>


    <p>Not done </p>
    <br>
    <a href=""> Belman ford</a>

    <br>
    <a href=""> Cycle detection  Topological Sort</a>

</body>
</html>